<!DOCTYPE html>
<html ng-app='nicolas'>
<head>
	<title>controllers scope</title>
</head>
<body>

	<input type="text" ng-model="query"/>
	<select ng-model="order">
		<option value="username">Organiser par nom</option>
		<option value="content">Organiser par contenu</option>
	</select>

	<div ng-controller="CommentsCtrl">
		<div ng-repeat="comment in comments | filter:{content:query} | orderBy:order">
			<p> 
				<strong>{{comment.username}}</strong><br>
				{{comment.content}}
			</p>
			<!-- {{user | uppercase}} -->
		</div>
	
		<!--{{users  | filter:'M'}}-->
	</div>

	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>

	<script language='javascript'>

	function CommentsCtrl($scope){

		$scope.comments = 

		[
		{
			"username": "Dillon",
			"city": "Nile",
			"email": "robert@robert.com",
			"content": "Ad excepteur adipisicing deserunt sunt dolor nulla reprehenderit cillum adipisicing. Nostrud sit Lorem dolore ipsum do labore ut in."
		},
		{
			"username": "Dil",
			"city": "reter",
			"email": "bert@bert.com",
			"content": "Ad  adipisicing sunt dolor reprehenderit adipisicing Lorem dolore ipsum do labore ut in."
		},
		{
			"username": "lon",
			"city": "le",
			"email": "rob@rob.com",
			"content": "cillum adipisicing. Nostrud sit Lorem dolore ipsum do labore ut in."
		},
		{
			"username": "ParDillon",
			"city": "ParNile",
			"email": "parbert@parbert.com",
			"content": "Ad excepteur adipisicing deserunt sunt dolor."
		},
		{
			"username": "Bailon",
			"city": "Baile",
			"email": "airt@airt.com",
			"content": "Ai ai ai aiaa iiihdddhdhdy djjjdjdj jjjjjjjd"
		}
		]

	}
	angular.module('nicolas',[]).controller('CommentsCtrl',CommentsCtrl);

	</script>



</body>
</html>